<h2>投稿一覧</h2>
<div class="container">
  <div class="row">
    <% @tag_list.each do |list| %>
      <%= link_to list.name, tag_posts_path(tag_id: list.id) %>
      <%= "(#{list.posts.count})" %>
    <% end %>
    <div class="post">
      <% @posts.each do |post| %>
        <%= image_tag post.get_post_image %> 
        <%= post.location %>
        <%= post.detail %>
        <%= post.tags.map(&:name).join(',') %>
      <% end %>
    </div>
  </div>
</div>
