<h2>投稿一覧</h2>
<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <% @tag_list.each do |list| %>
      <%= link_to list.name, tag_posts_path(tag_id: list.id) %>
      <%= "(#{list.posts.count})" %>
    <% end %>
    <div class="post">
      <%= form_with model: @post, url: members_sort_path, method: :get, local: true do |f| %>
        <%= f.select :keyword, [['投稿が新しい順', 'new'],['投稿が古い順', 'old'],['いいねが多い順', 'likes'],['いいねが少ない順', 'dislikes'],] %>
        <%= f.submit %>
      <% end %>
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_post_image, width: '50%', height: '50%' %>
        <% end %>
        <%= post.location %>
        <%= post.detail %>
        <%= post.tags.map(&:name).join(',') %>
        <div id="like_btn_<%= post.id %>">
          <%= render 'public/likes/like', post: post %>
        </div>
        <%= "#{post.comments.count} コメント" %>
      <% end %>
    </div>
  </div>
</div>
