<h3>いいね一覧</h3>
<% @like_posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_post_image, width: '50%', height: '50%' %>
  <% end %>
  <%= post.location %>
  <%= post.detail %>
  <%= post.tags.map(&:name).join(',') %>
  <%= "#{post.comments.count} コメント" %>
<% end %>