<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="navbar-brand" style="padding-bottom: 15px;">
    <% if member_signed_in? %>
      <%= link_to root_path do %>
        <%= image_tag ('logo.png'), width:'100%', height:"100%" %>
      <% end %>
    <% else %>
      <%= link_to admin_root_path do %>
        <%= image_tag ('logo.png'), width:'100%', height:"100%" %>
      <% end %>
    <% end %>
    </div>
    <div>
      <ul class="navbar-nav ml-auto", style="font-family: Hannotate SC;">
        <% if member_signed_in? %>
          <li>
            <%= link_to members_mypage_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-house-user"></i>マイページ
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-plus"></i> 新規投稿
            <% end %>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
          </li>
          <li>
            <%= link_to notifications_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-bell"></i> 通知
            <% end %>
          </li>
          <li>
            <%= link_to members_likes_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-bookmark"></i> いいね
            <% end %>
          </li>
          <li>
            <%= link_to destroy_member_session_path, method: :delete, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to admin_members_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-users"></i>会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_posts_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-list-alt"></i>投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_comments_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-list-alt"></i>コメント一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_member_registration_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_member_session_path, class: 'btn btn-outline-dark' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>